header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  //width: calc(100vw - 100px)

  nav > *
    margin: 0 0.8em
    
  nav > :first-child
    margin-left: 0

  nav > :last-child
    margin-right: 0

    
  @media all and (max-width: 500px)
    header
      display: flex
      flex-direction: column
      flex-wrap: wrap
      //justify-content: space-between
      //align-items: center

      nav > *
        margin: 0 0.8em
    
      nav > :first-child
        margin-left: 0

      nav > :last-child
        margin-right: 0
