header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  //width: calc(100vw - 100px)
  @media all and (max-width: 500px)
     flex-direction: column


  nav > *
    margin: 0 0.8em
    
  nav > :first-child
    margin-left: 0

  nav > :last-child
    margin-right: 0
